In [9]:
import pandas as pd
from sklearn.base import BaseEstimator, TransformerMixin

# TODO: Modify this list to include the numerical columns
NUMERICAL_VARS = ['pclass', 'age', 'sibsp', 'parch', 'fare']

In [10]:
# Crear custom transformer


class MissingIndicator(BaseEstimator, TransformerMixin):

    def __init__(self, variables):
        if not isinstance(variables, list):
            self.variables = [variables]
        else:
            self.variables = variables

    def fit(self, X, y):
        return self

    def transform(self, X):
        # TODO: Put your code here
        X = X.copy()
        for var in self.variables:
            X[var + '_nan'] = pd.isnull(X[var]).astype(int)
        return X

In [11]:
# Leer el csv sin aplicar transformaciones
df = pd.read_csv('C:/Users/francisco.figueroa/javier-mlops-sesion6/raw-data.csv')

In [12]:
# Imprimir los primeros datos
print(df.head(10))

   pclass  survived     sex      age  sibsp  parch      fare cabin embarked  \
0       1         1  female  29.0000      0      0  211.3375    B5        S
1       1         1    male   0.9167      1      2  151.5500   C22        S
2       1         0  female   2.0000      1      2  151.5500   C22        S
3       1         0    male  30.0000      1      2  151.5500   C22        S
4       1         0  female  25.0000      1      2  151.5500   C22        S
5       1         1    male  48.0000      0      0   26.5500   E12        S
6       1         1  female  63.0000      1      0   77.9583    D7        S
7       1         0    male  39.0000      0      0    0.0000   A36        S
8       1         1  female  53.0000      2      0   51.4792  C101        S
9       1         0    male  71.0000      0      0   49.5042   NaN        C

    title
0    Miss
1  Master
2    Miss
3      Mr
4     Mrs
5      Mr
6    Miss
7      Mr
8     Mrs
9      Mr

In [13]:
mi = MissingIndicator(variables=NUMERICAL_VARS)
# Aplicar las transformaciones
df_mi = mi.transform(df)

In [14]:
# Imprimir resultados despues de las transformaciones
print(df_mi.head(20))

    pclass  survived     sex      age  sibsp  parch      fare cabin embarked  \
0        1         1  female  29.0000      0      0  211.3375    B5        S
1        1         1    male   0.9167      1      2  151.5500   C22        S
2        1         0  female   2.0000      1      2  151.5500   C22        S
3        1         0    male  30.0000      1      2  151.5500   C22        S
4        1         0  female  25.0000      1      2  151.5500   C22        S
5        1         1    male  48.0000      0      0   26.5500   E12        S
6        1         1  female  63.0000      1      0   77.9583    D7        S
7        1         0    male  39.0000      0      0    0.0000   A36        S
8        1         1  female  53.0000      2      0   51.4792  C101        S
9        1         0    male  71.0000      0      0   49.5042   NaN        C
10       1         0    male  47.0000      1      0  227.5250   C62        C
11       1         1  female  18.0000      1      0  227.5250   C62        C
12       1         1  female  24.0000      0      0   69.3000   B35        C
13       1         1  female  26.0000      0      0   78.8500   NaN        S
14       1         1    male  80.0000      0      0   30.0000   A23        S
15       1         0    male      NaN      0      0   25.9250   NaN        S
16       1         0    male  24.0000      0      1  247.5208   B58        C
17       1         1  female  50.0000      0      1  247.5208   B58        C
18       1         1  female  32.0000      0      0   76.2917   D15        C
19       1         0    male  36.0000      0      0   75.2417    C6        C

     title  pclass_nan  age_nan  sibsp_nan  parch_nan  fare_nan
0     Miss           0        0          0          0         0
1   Master           0        0          0          0         0
2     Miss           0        0          0          0         0
3       Mr           0        0          0          0         0
4      Mrs           0        0          0          0         0
5       Mr           0        0          0          0         0
6     Miss           0        0          0          0         0
7       Mr           0        0          0          0         0
8      Mrs           0        0          0          0         0
9       Mr           0        0          0          0         0
10   Other           0        0          0          0         0
11     Mrs           0        0          0          0         0
12   Other           0        0          0          0         0
13    Miss           0        0          0          0         0
14      Mr           0        0          0          0         0
15      Mr           0        1          0          0         0
16      Mr           0        0          0          0         0
17     Mrs           0        0          0          0         0
18    Miss           0        0          0          0         0
19      Mr           0        0          0          0         0